header {
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    color: #f04c8c;
    text-align: center;
}

.navbar {
    min-height: 57px;
}

style {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body ::-webkit-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

body :-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body ::-moz-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body :-ms-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    /* align-items: center; */
}

.home-container {
    border-radius: 16px;
}

.wrapper {
    background: #4f3cfa;
    align-content: center;
    position: absolute;
    top: 40%; /*zmienia odleglosc od belki np*/
    bottom: 10%;
    width: 100%;
    margin-top: -200px;
    width: 80%;
    left: 10%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
    transform: translateY(85px);
}

.container {
    width: 90%;
    max-width: 60%;
    padding: 20px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    background: #887cf4;
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 20px;
    }
}

.container h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-weight: 200;
}

form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}

form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form a {
    color: rgba(255, 255, 255, 0.4);
}

form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: #f04c8c;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: auto;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

form button:hover {
    background-color: #f5f7f9;
}

/* Flashcards */

.flashcards__row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.flashcards__row__folder {
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid white;
    background-color: #4F3CFA;
    color: white;
}

.flashcards__row__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.flashcards__row__actions__single {
    display: flex;
    flex: 1;
}

.flashcards__row__actions__single form,
.flashcards__row__actions__single input {
    width: 100%;
}

.flashcards__row__actions__single input {
    margin: 0;
}